#sidenav {
    background-color: #0098BB;
    z-index: 1;
        background-image: url('../../images/nav.jpg');
    background-position-y:300px;
    
    background-size:250px;
    background-repeat: no-repeat;
}

img {
    position: center;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    opacity:1 !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo {
    display: block;
    float: left;
    width: 64px;
    height: 50px;
    margin-right: -6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    line-height: 50px;

    text-align: center;
}

.header {
    position: absolute;
    background-color: white;
    width: 95%;
    flex: 1;
    flex-direction: row;
    align-items: space-between;
    height: 75px;
    justify-content: center;
    margin-bottom: 5%;
}

.open-menu-header {
    position: absolute;
    background-color: white;
    width: 83%;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    height: 73px;
    margin-bottom: 5%;
}

#body {
    position: absolute;
    width: 100%;
    left: 4%;
    height: 100%;
    background-color: white;
    background: bottom;
    background-size: 60%;
    background-repeat: no-repeat;
    background-image: url('../../images/home-image.jpg');
    
    background-position-x: 260px;
}

#hide_menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    background: bottom;
    background-size: 60%;
    background-repeat: no-repeat;
    background-image: url('../../images/home-image.jpg');
    background-position-x: 260px;
}

#body-animate-forward {
    position: absolute;
    left: 4%;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-animation: myfirst .2s 1;
    -webkit-animation-direction: alternate;
    animation: myfirst .2s 1;
    animation-direction: alternate;
    background-image: url('../../images/home-image.jpg');
    background: bottom;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 250px;
    animation-fill-mode: forwards;
}

@-webkit-keyframes myfirst {
    0% {
        left: 250px;

        top: 0px;
    }
}

@-webkit-keyframes myfirst {
    100% {
        left: 250px;
        top: 0px;
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#navbar-toggle-collapsed {
    float: left;
    margin-left: 25px;
    color: white;
    opacity: .7;
    border-radius: 50%;
}

#navbar-toggle-collapsed:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#navbar-toggle-expanded {
    float: right;
    margin-right: 10px;
    color: white;
    opacity: .7;
    border-radius: 50%;
}

#navbar-toggle-expanded:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > * {
    color: white;
}

#nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    opacity: 100%;
    font-weight: 700;
    font-size: 25px;
    color:white;
    font-variant-caps: all-petite-caps;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    margin-top: 10px;
    /* background-color: #0098BB; */

    background-attachment: local;
}
#nav-item-name-display{
    color:white;
}
div#nav-item:hover {
    /* color: red; */
    background-color: #0098bb;
    opacity: 1;
    text-decoration: none;
}

.sidenav---navicon---3gCRo {
    opacity: 1;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo + .sidenav---navtext---1AE_f {
    margin-top: 5px;
}

#nav-icon {
    margin-left: 10px;
    line-height: 40px;
}

#sidenav-item-icon{
    color:chartreuse;
    border-radius: 50%;
}

#nav-text {
    float: right;
}